@import url('https://fonts.googleapis.com/css2?family=Chicle&family=DynaPuff:wght@400..700&family=Jockey+One&family=Lilita+One&family=Quicksand:wght@300..700&display=swap');

*,
html,
body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html,
body {
	overflow-x: hidden;
}

.bg {
	/* background-image: linear-gradient(to bottom, #f8fafc, #f7fafd, #f6fafd, #f5f9fe, #f4f9fe, #eff6fe, #e9f4ff, #e4f1ff, #dbebff, #d2e5ff, #cadeff, #c4d7ff); */
	background-color: #f8fafc;
}

.card_bg {
	backdrop-filter: blur(4px) saturate(99%);
	-webkit-backdrop-filter: blur(4px) saturate(99%);
	background-color: rgba(17, 25, 40, 0.1);
}
